<h1>Log In!</h1>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for(:session, url: login_path) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :password %>
<%= f.text_field :password %>
  <%=f.submit 'Submit'%>
<%end%>

<p>Not a new user? <%= link_to "Sign up now!", signup_path %></p>
