<h1>Your Kids:</h1>

<h2>You can sign each kid up for one course only.</h2>

<%@kids.each do |k|%>

  <% if exists?(k) %>
    <p><%=capitalize(k)%></p>
    <%if k.age != 0%>
        <h3>Age: <%=k.age%></h3>
    <%else%>
        <h3>Age: <%="#{k.name} is an infant" if Kid.infant%></h3>
    <%end%>
    <p><%= link_to "#{k.name.capitalize}'s' Profile", parent_kid_path(@parent, k) %></p>

  <%end%>
  <% if registered?(k)%>
    <p><%=k.name.capitalize%>'s Course: <%=k.course.title%>, <%=k.course.start_time%></p>
  <%end%>
  -------------------------

<%end%>

<%=render partial: 'sessions/logout'%>
<%=render partial: 'parents/goback'%>
