<h1>Your Kids:</h1>

<h2>You can sign each kid up for one course only.</h2>

<%@kids.each do |k|%>
  <div class="border">
    <% if exists?(k) %>
      <h2><%=capitalize(k)%></h2>
      <%if k.age != 0%>
          <h4>Age: <%=k.age%></h4>
      <%else%>
          <h4>Age: <%="#{k.name} is an infant" if Kid.infant%></h4>
      <%end%>
      <p><%= link_to "#{capitalize(k)}'s Profile", parent_kid_path(@parent, k) %></p>

    <%end%>
    <% if registered?(k)%>
      <h3>Registered for <%=k.course.title%>, <%=k.course.start_time%></h3>
      <div id="body-<%=k.course.id%>"><%=truncate k.course.description%></div>
      <div id="desc-<%=k.course.id%>"><%= link_to '...See more', '', class: "read-more-#{k.course.id}" %></div>

      <script>
        $('.read-more-<%= k.course.id %>').on('click', function(e) {
          e.preventDefault()
          $('#body-<%=k.course.id%>').html('<%= escape_javascript k.course.description %>')
          $('#desc-<%=k.course.id%>').hide()
        })
      </script>
      
    <%end%>
  </div>

<%end%>

<h2><%=link_to "Add more kids", new_parent_kid_path(@parent)%></h2>
<%=render partial: 'sessions/logout'%>
<%=render partial: 'parents/goback'%>



<!-- <script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-more").on('click', function() {
      var id = $(this).data("id");
      $.get("/course/" + id + ".json" , function(data) {

        // Replace text of body-id div
        $("#body-" + id).html(data["description"]);
      });
    });
  });
</script> -->
