<h1>Your Kids:</h1>

<h2>You can sign each kid up for one course only.</h2>

<%@kids.each do |k|%>
  <div class="border">
    <% if exists?(k) %>
      <h2><%=capitalize(k)%></h2>
      <%if k.age != 0%>
          <h4>Age: <%=k.age%></h4>
      <%else%>
          <h4>Age: <%="#{k.name} is an infant" if Kid.infant%></h4>
      <%end%>
      <p><%= link_to "#{capitalize(k)}'s Profile", parent_kid_path(@parent, k) %></p>

    <%end%>
    <% if registered?(k)%>
      <h3>Registered for <%=k.course.title%>, <%=k.course.start_time%></h3>
    <%end%>
  </div>

<%end%>

<%=render partial: 'sessions/logout'%>
<%=render partial: 'parents/goback'%>
