<h1>Add some kids</h1>

<%= form_for @kid, url: "/parents/#{@parent.id}/kids" do |f| %>

  <h3>Your kid:</h3>
    <br>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
    <br>

  <%=f.submit 'Submit' %>
<%end%>
