<h1>Add some kids</h1>

<%= form_for @kid, url: "/parents/#{@parent.id}/kids" do |f| %>


  <h3>Your kid:</h3>
    <br>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :age %><br>
    <%= f.text_field :age %>
    <br>


  <%=f.submit 'Submit' %>
<%end%>

<div id="kidResult">
  <h2 id="kidName"></h2>
  <p id="kidAge"></p>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $('form').submit(function(event) {
    event.preventDefault();
    var values = $(this).serialize();
    var posting = $.post('/parents/#{@parent.id}/kids', values);
    posting.done(function(data) {
      var kid = data;
      $("#kidName").text(kid["name"]);
      $("#kidAge").text("Age:" + kid["age"]);
    });
  });
});
</script>
