<%if logged_in?%>

  <h1><%=@kid.name.capitalize%></h1>
  <%if Kid.infant.include?(@kid)%>
    <h3>Age: <%="#{@kid.name} is an infant"%></h3>
  <%else%>
    <h3>Age: <%=@kid.age%></h3>
  <%end%>
  <%if registered?(@kid)%>
    <h3>Course: <%=link_to "#{@kid.course.title}", course_path(@kid.course)%></h3>
    <h3>Time: <%=@kid.course.start_time%></h3>
    <h3>Teacher: <%=link_to "#{@kid.course.teacher.name}", teacher_path(@kid.course.teacher.id)%></h3>
    <p></p>

  <%end%>
  <%=render partial: 'parents/goback'%>

<%else%>
  <p>You need to be logged in to see this.</p>
<%end%>
