<h1><%=@teacher.name%></h1>
<h3>Bio:</h3>
<p><%=@teacher.bio%></p>
<h3>Courses Taught:</h3>
<%@teacher.courses.each do |c|%>
  <h3><%=link_to "#{c.title}", course_path(c)%></h3>
<%end%>

<%= link_to "Go Back", parent_path(current_user)%>
<p><%= link_to "Log Out", logout_path, method: :delete %></p>
