<h1>Courses</h1>
<% Course.all.each do |c|%>

  <h2><%=link_to c.title, course_path(c)%></h2>
  <h4><%=c.start_time%></h4>
  <h4>Age Group: <%=c.age_group%></h4>
  <p><%=c.description%></p>
<%end%>

<%if logged_in?%>

<%=render partial: 'parents/goback'%>
<p><%= link_to "Log Out", logout_path, method: :delete %></p>


<%else%>
  <%=link_to "Log In to See More and Sign Up", login_path%>
<%end%>
