<h1><%=@course.title%></h1>
<h2><%=@course.start_time%></h2>
<p><%=@course.description%></p>
<h3>Teacher: <%=link_to "#{@course.teacher.name}", teacher_path(@course.teacher)%></h3>
<h3>Age Group: <%=@course.age_group%></h3>

<%if logged_in?%>
  <h2>Students signed up:</h2>
  <%@course.kids.each do |k|%>
    <% if k.age != 0 %>
      <p><%=k.name.capitalize%>, age: <%=k.age%></p>
    <%else%>
      <p><%=k.name.capitalize%>, age: less than 1 year</p>
    <%end%>
  <%end%>

  <p><%= link_to "Go Back", courses_path%></p>
  <p><%= link_to "Your Profile", parent_path(current_user)%></p>
  <p><%= link_to "Log Out", logout_path, method: :delete %></p>
  <%current_user.kids.each do |k| %>
    <%if !k.name.empty?%>
      <p><%= link_to "Sign #{k.name} up for this course", edit_course_kid_path(@course, k) %></p>
    <%end%>
  <%end%>
<%else%>
  <%=link_to "Log In to See More and Sign Up", login_path%>
<%end%>
