<h1><%=@course.title%>, <%=@course.start_time%></h1>

<h3>Sign up here:</h3>

<%=form_for @course do |f|%>
  <%= f.collection_check_boxes :parent_id, Parent.all, :id, :name %>
  <%= f.submit %>
<%end%>
