<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Hi! Sign Up</h1>

<%= form_for(@parent) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password_digest %>
  <br>

  <h3>Your kids:</h3>
  <%= f.fields_for :kids do |k| %>
    <%= k.label :name %>
    <%= k.text_field :name %>
    <br>
    <%= k.label :age %>
    <%= k.text_field :age %>
    <br>
    <%= k.label :kid_number %>
    <%= k.text_field :kid_number %>

  <%end%>


  <%=f.submit 'Submit' %>
<%end%>

<p>Not a new user? <%= link_to "Log in!", login_path %></p>
