<h1>Register Your Kid!</h1>
<img src="http://myfrenchclasses.org/sites/myfrenchclasses.org/files/art_class.jpg" alt="" width="300">

<% if flash[:notice] %>
  <h2><div class="notice"><%= flash[:notice] %></div></h2>
<% end %>

<h1>Hi! Sign Up</h1>

<%= form_for(@parent) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name%>

  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <h3>Your kids (you can add more later):</h3>
  <%= f.fields_for :kids do |k| %>
    <br>
    <%= k.label :name %><br>
    <%= k.text_field :name %>
    <br>
    <%= k.label :age %><br>
    <%= k.text_field :age %>
    <br>
  <%end%>


  <%=f.submit 'Submit' %>
<%end%>

<p>Not a new user? <%= link_to "Log in!", login_path %></p>

<%= render 'welcome_nav' %>
