<h1>Welcome, <%=@parent.name.capitalize%>!</h1>
<%if logged_in? && @parent.kids.empty?%>
  <h2><%=link_to "Add your kids", new_parent_kid_path(@parent)%></h2>
<%elsif logged_in? && !@parent.kids.empty?%>
  <h2>Your Course Schedule</h2>
  <%@courses.map do |c|%>
    <%@kids.detect do |k|%>
      <%if k.course == c%>
        <div class="border">
          <p><%=c.start_time%>, Course: <%=c.title%></p>
        </div>
      <%end%>
    <%end%>
  <%end%>
<%else%>
  <p>You need to be logged in to see this.</p>
<%end%>

<p><%= link_to "Browse courses", courses_path %></p>
<p><%= link_to "View Your Kids", parent_kids_path(@parent.id) %></p>
<p><%= link_to "View All Parents", parents_path %></p>
<p><%= link_to "View All Teachers", teachers_path %></p>
<%=render partial: 'sessions/logout'%>
