<h1>Welcome, <%=@parent.name.capitalize%>!</h1>
<p><%= link_to "Browse courses and sign up", parent_courses_path(@parent) %></p>
<p><%= link_to "Log out", logout_path, method: :delete %></p>
<p><%= link_to "All kids in the school", parent_kids_path(@parent) %></p>


  <h3>Your kids:</h3>
  <%@kids.each do |k|%>
    <% if k.name.present? %>
      <p><%=k.name.capitalize%>, age: <%=k.age%></p>
    <%end%>
    <% if k.course_id.present?%>
      <%binding.pry%>
      <p>Course: <%=Course.find(k.course_id).title%>, <%=Course.find(k.course_id).start_time%></p>
    <%end%>
    <% if k.name.present? %>
      <p><%= link_to "Sign this kid up for some classes", edit_parent_kid_path(k) %></p>
    <%end%>

  <%end%>
