<h1>Welcome, <%=@parent.name.capitalize%>!</h1>
<p><%= link_to "List of all courses", parent_courses_path(@parent) %></p>
<h2>You can sign each kid up for one course only.</h2>

  <h2>Your kids:</h2>
  <%@kids.each do |k|%>
    <% if exists?(k) %>
      <p><%=capitalize(k)%>, age: <%=k.age%></p>
      <p><%= link_to "#{k.name.capitalize}'s' Profile", parent_kid_path(@parent, k) %></p>
      <h3>Sign <%=k.name.capitalize%> up for a course:</h3>
      <%=form_for k, url: parent_kid_path(@parent, k), method: :patch do |f|%>
        <%= f.collection_select :course_id, Course.all, :id, :title%>
        <%= f.submit "Submit" %>
      <%end%>
    <%end%>
    <% if registered?(k)%>
      <p><%=k.name.capitalize%>'s Course: <%=Course.find(k.course_id).title%>, <%=Course.find(k.course_id).start_time%></p>
    <%end%>
    -------------------------

  <%end%>

<p><%= link_to "View All Kids", parent_kids_path(@parent) %></p>
<p><%= link_to "View All Parents", parents_path %></p>
<p><%= link_to "View All Teachers", teachers_path %></p>
<%=render partial: 'sessions/logout'%>
