<h1>Welcome, <%=@parent.name.capitalize%>!</h1>
<%if logged_in? && @parent.kids.empty?%>
  <h2><%=link_to "Add your kids", new_parent_kid_path(@parent)%></h2>
<%elsif !@parent.kids.empty?%>
  <h2>Your Kids:</h2>
  <% @kids.each do |k|%>
    <% if exists?(k) && k.age != 0 %>
      <p><%=capitalize(k)%>, age: <%=k.age%>, course: <%=capitalize(k.parent)%></p>
    <% elsif k.age == 0 %>
      <p><%=capitalize(k)%>, infant, parent: <%=capitalize(k.parent)%></p>
    <%end%>
  <%end%>
<%else%>
  <p>You need to be logged in to see this.</p>
<%end%>

<p><%= link_to "Browse courses", parent_courses_path(@parent) %></p>
<p><%= link_to "View Your Kids", parent_kids_path(@parent) %></p>
<p><%= link_to "View All Parents", parents_path %></p>
<p><%= link_to "View All Teachers", teachers_path %></p>
<%=render partial: 'sessions/logout'%>
