<%if logged_in?%>
  <h1>Welcome, <%=current_user.name.capitalize%>!</h1>
  <%= link_to "Profile", parent_path(session[:id]) %>
<%else%>
  <h1>Hi! Go ahead and log in or sign up.</h1>
<%end%>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'Sign Up', signup_path%>
<%= link_to 'Log In', login_path%>


<%= link_to "Log out", logout_path, method: :delete %>
